<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<FlowCallout async="false" continueOnError="false" enabled="true" name="flow-callout-OAuth-{{ sec_pattern }}">
    <DisplayName>flow-callout-OAuth-{{ sec_pattern }}</DisplayName>
    <FaultRules/>
    <Properties/>
    <SharedFlowBundle>shared-flow-{{ sec_pattern }}</SharedFlowBundle>
</FlowCallout>
